Django==6.0.5
django-crispy-forms==2.6
crispy-bootstrap5==2026.3
pillow==12.2.0
qrcode==8.2
pypdf==6.14.2
xhtml2pdf==0.2.17
cryptography==49.0.0
whitenoise==6.12.0
gunicorn==26.0.0
python-dotenv==1.0.1
dj-database-url==2.1.0
